# OS / Editor files
.DS_Store
.idea/
.ipynb_checkpoints/
.vscode/

# Python / Local environments / Caches
__pycache__/
.pytest_cache/
*.bin
*.pkl
*.pyd
*.pyc
*.pyo
*.pt
*.tar.gz

# Directories / SDKs
.aai_env/
.gradio/
.venv/
env/
site/
google-cloud-sdk/

# Local project files
input.txt
settings.json
uv.lock

# Course-specific generated or large files
PP3: CLIP/data/cifar*
PP7: VLM warmup/models/modality_projector_sol.py
PP7: VLM warmup/models/vision_language_model_sol.py
nanoVLM
Project/checkpoints/*/
Project/checkpoints/*
Project/eval_results/

# Keep this specific dataset artifact tracked
!PP5: Pretraining GPT2/data/french_philosophy/*.bin
!Project/checkpoints/*.py
